.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: all 300ms ease;
  backdrop-filter: blur(5px);
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: all 300ms ease;
  backdrop-filter: blur(5px);
}
